@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #6617cb;
    background-image: linear-gradient(135deg, #6617cb 0%, #cb218e 74%);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 940px;
}