@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #6617cb;
    background-image: linear-gradient(135deg, #6617cb 0%, #cb218e 74%);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 940px;
}

.caixaEsquerda{
    background: #a3a2a2;
    opacity: 0.5;
    margin-left: -1400px;
    display: flex;
    height: 860px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.header{
    padding: 45px;
    
}